<div class="well block-1 text-center">
  <h1>做一棵会思考的芦苇---帕斯卡尔</h1>
  <p>用英语。说你所想。</p>
  <%= link_to "开始学习", products_path, class: "btn btn-info btn-learn" %>
</div>

<div class="well block-2 text-center">
  <h2>我们重新定义英语学习</h2>
  <div class="feature-block"
   < img src='<%= image_url 'feature1.jpg' %>'>
   <br>
   <p>
     <a target="_blank" href="https://logdown.com/account/posts/1752970/edit"> 英语学习元认知--揭开那层让人恐惧的面纱</a>!
   </p>
  </div>
</div>

<div class="well block-3 text-center">
  <h2>人人可学的英语实用课程</h2>
  <p>必有一款适合你</p>

  <div class="row">
    <div class="col-sm-4 well">
      <p>新概念情景英文--说</p>
    </div>
    <div class="col-sm-4 well">
      <p>和宝贝交流（用英文）--说</p>
    </div>
    <div class="col-sm-4 well">
      <p>读遍天下--读</p>
    </div>
  </div>
</div>

<div class="well block-4 text-center">
  <h2>我们的学员说</h2>
  <p>原来英文可以这样用</p>

  <div class="row">
    <div class="col-sm-4 well">
      <p>Frank--学了这么多年英语终于敢开口说了。</p>
    </div>
    <div class="col-sm-4 well">
      <p>Susan--我能和我的女儿讲英文了，太棒了！</p>
    </div>
    <div class="col-sm-4 well">
      <p>Alex--我能读英文故事和新闻了。O(∩_∩)O哈哈~</p>
    </div>
</div>

<div class="well block-5 text-center">
  <%= link_to "开始学习", products_path, class: "btn btn-info btn-lg" %>
</div>
