<div class="well block-1 text-center">
  <h1>做一个会思考的人</h1>
  <p></p>
  <%= link_to "开始学习", products_path, class: "btn btn-info btn-learn" %>
</div>

<div class="well block-2 text-center">
  <h2>我们重新定义英语学习</h2>
  <p>这里放一段简单的描述文字</p>
</div>

<div class="well block-3 text-center">
  <h2>人人可学的英语实用课程</h2>
  <p>列出几个课程</p>

  <div class="row">
    <div class="col-sm-4 well">
      <p>课程1</p>
    </div>
    <div class="col-sm-4 well">
      <p>课程2</p>
    </div>
    <div class="col-sm-4 well">
      <p>课程3</p>
    </div>
  </div>
</div>

<div class="well block-4 text-center">
  <h2>我们的学员说</h2>
  <p>图片配简单的描述文字</p>
</div>

<div class="well block-5 text-center">
  <%= link_to "开始学习", products_path, class: "btn btn-info btn-lg" %>
</div>
