/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "welcome";

html { height: 100%;}
  body { min-height: 100%; display: flex; flex-direction: column;}
  .content { flex: 1;}


  // 去掉导航栏四边的圆角
  .navbar {
      border-radius: 0; //圆角为0
      position     : relative;
      min-height   : 30px;
      margin-bottom: 0;
      border       : 0 solid transparent;
  }
  /*===== Logo ======*/
  .logo-box {
      margin-right: 15px;
      font-family: 'Oswald', sans-serif; /* Google字型 */
      font-size: 20px;

      img {
        display: inline-block;
        margin-top: -6px;
        margin-right: 8px;
        margin-left: 30px;
        width: 32px;
        height: 32px;
        border: 2px solid #ffffff; /* Logo 外框 */
        border-radius: 25px; /* Logo 切成圆形 */
      }
    }

// 回到顶端
.goTop {
    height: 35px;
    width: 35px;
    background-color: #fff;
    border-radius: 5px;
    position: fixed;
    top: 80%;
    right: 35px;
    // display: none;
    box-shadow: 1px 1px 3px #666;

    span {
      color: #000;
      position: absolute;
      top: 7px;
      left: 8px;
      font-size: 20px;
    }
  }

  .goTop:hover {
    background-color: #f0f0f0;

    span{
      color: #eb5424;
    }
  }

  // 固定位置的消息通知
.alert {
  position: fixed; // 这个属性防止将内容挤下去
  top: 51px; // 让消息在导航条下面，不挡住导航，根据自己导航navbar的高度调整
  left: 0px;
  width: 100%;
  z-index: 10; // 让消息显示在最上面
  border-radius: 0px;
}


.price{
    margin-right: 100px; // 价格和点赞人数之间有一定的间隔
  }
