/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-material-design";

html { height: 100%;}
  body { min-height: 100%; display: flex; flex-direction: column;}
  .content { flex: 1;}


  // 去掉导航栏四边的圆角
  .navbar {
      border-radius: 0; //圆角为0
      position     : relative;
      min-height   : 30px;
      margin-bottom: 0;
      border       : 0 solid transparent;
  }
  /*===== Logo ======*/
  .logo-box {
      margin-right: 15px;
      font-family: 'Oswald', sans-serif; /* Google字型 */
      font-size: 20px;

      img {
        display: inline-block;
        margin-top: -6px;
        margin-right: 8px;
        margin-left: 30px;
        width: 32px;
        height: 32px;
        border: 2px solid #ffffff; /* Logo 外框 */
        border-radius: 25px; /* Logo 切成圆形 */
      }
    }

// 回到顶端
.goTop {
    height: 35px;
    width: 35px;
    background-color: #fff;
    border-radius: 5px;
    position: fixed;
    top: 80%;
    right: 35px;
    // display: none;
    box-shadow: 1px 1px 3px #666;

    span {
      color: #000;
      position: absolute;
      top: 7px;
      left: 8px;
      font-size: 20px;
    }
  }

  .goTop:hover {
    background-color: #f0f0f0;

    span{
      color: #eb5424;
    }
  }

  // 固定位置的消息通知
.alert {
  position: fixed; // 这个属性防止将内容挤下去
  top: 51px; // 让消息在导航条下面，不挡住导航，根据自己导航navbar的高度调整
  left: 0px;
  width: 100%;
  z-index: 10; // 让消息显示在最上面
  border-radius: 0px;
}


.price{
    margin-right: 40%; // 价格和点赞人数之间有一定的间隔
  }


  .pagination>li>a, .pagination>li>span {
     border-radius: 50% !important;margin: 0 5px;
     margin: 10px 0;
}
  .pagin{
    background-color: rgba(121,134,203 ,0.2);
  }

  .page-box {
    margin-top: 75px;

    a {
      background-color: #eee;
    }

    a:hover {
      background-color: #ddd;
      color: #666 !important;
    }
  }


  /*===== Cart 網站-購物車設定 =====*/
.cart-item-box {
  text-align: left;
  margin: 30px 0 5px 0;

  img {
    max-width: 75px;
  }

  div {
    margin-left: 15px;
    display: inline-block;
  }

  hr {
    height: 1px;
    background-color: #eee !important;
    margin: 7.5px 0 -2.5px 0;
  }

  .name {
    min-width: 50%;
  }

  .price {
    min-width: 50px;
  }

  .remove {
    min-width: 10px;
  }

  input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 2.5px;
    outline: none;
  }

  input:focus {
    border: 1px solid #000;
  }
}

.cart-checkout-box {
  text-align: center;
  margin: 30px 0 5px 0;
  padding: 50px;
  background-color: #EEEEEE;

  .notice {
    margin: 20px 0 0 0;
    text-align: left;
    color: #999999;
  }
}


/*===== Order 網站-訂單資訊設定 =====*/
.order-form {
  text-align: left;

  .form-group {
    input {
      height: 40px;
    }
  }

  .form-actions {
    text-align: center;

    .btn-default {
      color: #333;
    }

    .btn-default:hover,
    .btn-default:active,
    .btn-default:focus {
      background-color: #fff;
      border-color: #eb5424;
      color: #eb5424;
    }
  }

  .paymant {
    input {
      height: auto;
      margin: 0 2.5px 0 12.5px;
    }
  }
}

/*===== Order 網站-訂單歷史 =====*/
.order-box {
  text-align: left;

  h3,h4 {
    text-align: center;
    margin-top: 15px;
  }

  table{
    box-shadow: 0 0 3px #999;
  }

  thead{
    line-height: 200%;
    background-color: #02061A;
    font-size: 16px;
    color: #fff;
  }

  tr {
    border: 1px solid #ccc;
  }

  strong {
    line-height: 250%;
  }

  .btn-default {
    margin: 0 5px 0 5px;
  }

  img {
    max-width: 75px;
  }

  .payment-action {
    margin-top: 35px;
    text-align: center;
  }

  .btn-default {
    color: #666 !important;
  }

  .btn-default:hover,
  .btn-default:active,
  .btn-default:focus {
    background-color: #fff !important;
    border-color: #eb5424 !important;
    color: #eb5424 !important;
  }
}

// pro-show
.wish {
     margin-left: 15px;
     font-weight: 600;
   }

   /*===== 產品列表內容設置 =====*/
  .product-content {
    img {
      width: 100%;
      margin: 7.5px auto 7.5px auto;
    }

    h2 {
      margin-top: 150px;
    }


  }

  .product-info {
    text-align: left;
    line-height: 14px;
    min-height: 55px;
  }

  /*===== 產品路徑設置 =====*/
  .path-box {
    text-align: left;
    height: 20px;

    .right-box {
      button {
        margin: -15px 0 -15px 0;
        padding: 7.5px 10px 7.5px 10px;
        border: 2px solid #666;
        color: #333;
      }

      button:focus {
        background-color: #fff;
        color: #333;
      }

      ul {
        margin-top: 15px;
      }
    }
  }


  /*===== 網站通用設置 ======*/
body {
  overflow-x: hidden; //裁切內容，超出視窗不顯示
  letter-spacing: 1px;
  font-size: 16px;
  position: relative;

  a {
    text-decoration:none !important;
  }
}
