// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.block-1 {
  background-image: url("think.jpg");
  background-size: cover;
  background-position: 20% 1%;
  height: 500px;

  h1 {
    color: #fffffc;
    margin: 100px auto 20px;
    font-size: 36px;
  }

  p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #fffffc;
    margin: 20px 0 60px;
  }

  .btn-learn {
    background-color: #fcf8e3;
    border: 1px solid #fff;
    font-size: 18px;
    color: #777777;
    padding: 10px 45px;
    font-weight: bolder;
  }
}

.block-2 {
  padding-bottom: 50px;
  background-color: #F9FAF0;

  .h1,
  .h2,
  .h3,
  h1,
  h2,
  h3 {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #777;
  }

  body {
    color: #777777;
  }

  img {
    width: 240px;
    height: auto;
    border-radius: 50%;
  }
}

.block-3 {
  background-image: url(".jpg");
  padding-bottom: 200px;
  background-position: 40% 80%;
  color: #777;

  .well {
    border-radius: 15px;
    box-shadow: none;
    border: none;
  }

  img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.block-4 {
  background-image: url(".jpg");
  padding-bottom: 20px;
  background-position: 50% 50%;

  .well {
    border-radius: 15px;
    box-shadow: none;
    border: none;
  }
  img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.block-5 {
  background-image: url("think.jpg");

  .btn-info {
    color: #777777;
    background-color: #fcf8e3;
    border-color: #fcf8e3;
}
}
